version: "3"

services:
  eurekaregistry:
    image: aakashbhardwaj1/eurekaregistry
    container_name: eurekaregistry
    ports:
      - "8761:8761"
    networks:
      - codecraft-network

  apigateway:
    image: aakashbhardwaj1/apigateway
    container_name: apigateway
    ports:
      - "8000:8000"
    networks:
      - codecraft-network
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaregistry:8761/eureka/
    depends_on:
      - eurekaregistry

  interviewerservice:
    image: aakashbhardwaj1/interviewerservice
    container_name: interviewerservice
    ports:
      - "8081:8081"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaregistry:8761/eureka/
      - SPRING_DATASOURCE_URL=jdbc:mysql://codecraft_db:3306/codecraft?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - LOGGING_LOGSTASH_HOST=logstash
      - LOGGING_LOGSTASH_PORT=5001
    networks:
      - codecraft-network
    depends_on:
      - eurekaregistry
      - apigateway
      - codecraft_db
    volumes:
      - /home/logs/interviewerservice:/logs

  candidateservice:
    image: aakashbhardwaj1/candidateservice
    container_name: candidateservice
    ports:
      - "8082:8082"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaregistry:8761/eureka/
      - SPRING_DATASOURCE_URL=jdbc:mysql://codecraft_db:3306/codecraft?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    networks:
      - codecraft-network
    depends_on:
      - eurekaregistry
      - apigateway
      - codecraft_db
    volumes:
      - /home/logs/candidateservice:/logs

  codecraft_db:
    image: mysql:8
    container_name: codecraft_db
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=codecraft
    volumes:
      - codecraft_db:/var/lib/mysql
    networks:
      - codecraft-network

  interviewerfrontend:
    image: aakashbhardwaj1/interviewerfrontend
    container_name: interviewerfrontend
    ports:
      - "3000:80"
    networks:
      - codecraft-network
  
  candidatefrontend:
    image: aakashbhardwaj1/candidatefrontend
    container_name: candidatefrontend
    ports:
      - "3001:80"
    networks:
      - codecraft-network

  codeeditorfrontend:
    image: aakashbhardwaj1/codeeditorfrontend
    container_name: codeeditorfrontend
    ports:
      - "3002:80"
    networks:
      - codecraft-network
  codeeditorbackend:
    image: aakashbhardwaj1/codeeditorbackend
    container_name: codeeditorbackend
    ports:
      - "5000:5000"
    networks:
      - codecraft-network
  
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.3.3
    container_name: elastic
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xms512m"
      - "discovery.type=single-node"
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    networks:
      - codecraft-network
  

  kibana:
    image: docker.elastic.co/kibana/kibana:8.3.3
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - codecraft-network


  logstash:
    image: docker.elastic.co/logstash/logstash:8.3.3
    container_name: logstash
    volumes:
      - /home/aakash/MySPE/CodeCraft/logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
      - /home/aakash/MySPE/CodeCraft/logstash/pipeline:/usr/share/logstash/pipeline:ro
    ports:
      - "5001:5001/tcp"
      - "5001:5001/udp"
      - "9600:9600"
    environment:
      - LS_JAVA_OPTS=-Xmx512m -Xms512m
    networks:
      - codecraft-network
    depends_on:
      - elasticsearch
volumes:
  codecraft_db:
  elastic_data:
    driver: local

networks:
  codecraft-network:
    driver: bridge
